body
{
	background-color:#cc99cc;
	overflow-x: hidden;
}


#footer
{
		margin: 0%;
		padding: 0%;
		border-style: solid;
		border-width:0.5%;
		border-color:#000000;
		
		background: #404040;
		
		width: 100%;
		height: 60%;
		
		position: absolute;
		bottom:2%;
		left: 0%;
		top:200%;
		
}

#contactinfo
{
	margin:0%;
	padding:0%;
	border-style:solid;
	border-width:0.5%;
	border-color:transparent;
	width:50%;
	height:28%;
	position:absolute;
	bottom:2%;
	left:0%;
	top:35%;
}

#copyright
{
	margin:0%;
	padding:0%;
	border-style:solid;
	border-width:0.5%;
	border-color:transparent;
	background:transparent;
	text-align:center;
	width:50%;
	height:25%;
	position:absolute;
	bottom:2%;
	right:25%;
	top:70%;
}
	
#footer img
{
		width: 9%;
		height: 15%;
		
		
		border-style: solid;
		border-width:1%;
		border-color: #000000;
		border-radius:50%;
		
		float:left;/* start from the left and put the images next to each other */
		
		margin-left:1%;
		margin-top:3%;
		top:5%;
}

#snetwork 
{
		
		margin: 0%;
		padding: 0%;
		border-style: solid;
		border-width:0.5%;
		border-color:#000000;
		
		background:#ee82ee;
		
		width: 93%;
		height: 50	%;
		
		position: absolute;
		bottom: 2%;
		left:2%;
		
	
}



#snetwork img 

{
	
		width: 5%;
		height: 5%;
		
		
		border-style: solid;
		border-width:1%;
		border-color:#000000;
		border-radius:50%;
		
		float:left;/* start from the left and put the images next to each other */
		
		margin-left:1%;
		margin-top:3%;
	
}

#logo
{
	margin:0;
	padding:0;
	border-style:none;
	border-width:0.5%;
	border-color:#000000;
	
	background:transparent;
	width:10%;
	height:10%;
	
	position:absolute;
	top:1%;
	left:1%;
}

#logo img
{
		width:100%;
		height:100%;
}

#slogan
{
	margin:0;
	padding:0%;
	border-style:solid;
	border-width:0.5%;
	border-color:transparent;
	background:transparent;
	width:60%;
	height:40%;
	position:absolute;
	top:10%;
	left:1%;
}

#contactinfo h3::before
{
	content:"\1F57F";
}

#contactinfo h4::before
{
	content:"\1F4E7";
}

#contactinfo h5::before
{
	content:"\1F4E7";
}

#form
{
		margin: 0%;
		padding: 0%;
		border-style: solid;
		border-width:0.5%;
		border-color: #000;
		
		background: #ee82ee;
		
		width: 70%;
		height: 160%;
		
		position: absolute;
		left:15%;
		top:19%;
}
